
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.3) 50%), url('https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-0.3.5&s=d405b131f4caf1677d831f8ebfa9576c&auto=format&fit=crop&w=1050&q=80');">
  <div class="banner-content">
    <h1>The Milky Way Galaxy</h1>
    <p>Why limit yourself to Earth...</p>
    <a href="#" class="btn btn-primary minha-borda">Search new planet</a>
  </div>
</div>
